.module-spacer--extra-extra-small {
    height: 12px
}

.module-spacer--extra-small {
    height: 12px
}

.module-spacer--small {
    height: 20px
}

.module-spacer--medium {
    height: 32px
}

.form-container {
    max-width: 450px;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(237, 228, 245);
    border-radius: 5px;
}
